<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>138771246074-2bkegdaoe3b5of61fnq2l8p68o11s9g1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.138771246074-2bkegdaoe3b5of61fnq2l8p68o11s9g1</string>
	<key>API_KEY</key>
	<string>AIzaSyBQuj4oIixXoUyRtnAzvjT0keew4S2fe10</string>
	<key>GCM_SENDER_ID</key>
	<string>138771246074</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.esquinca.ExamenIos</string>
	<key>PROJECT_ID</key>
	<string>examenios-356ef</string>
	<key>STORAGE_BUCKET</key>
	<string>examenios-356ef.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:138771246074:ios:03acea9cbcb244db431243</string>
</dict>
</plist>